# Proyecto: PROWBI001 (Proyecto World Banc Indicators 001)

Data source: **Kaggle, World Bank Indicators Collection**  
URL        : https://www.kaggle.com/datasets/ploverbrown/world-bank-indicators-collection  
Autor      : PLOVER BROWN  
Fuente     : **Banco Mundial**  
Fichero    : PopulationDataWorldBank.xlsx  

## Componentes

1. ***Población (seleccionado)***
2. ***Densidad de población (seleccionado)***
3. ***Crecimiento de la población  (seleccionado)***
4. Población femenina
5. Población masculina
6. ***Educación  (seleccionado)***
7. Cambio climático
8. Comercio
9. Infraestructura
10. Pobreza 
11. Desarrollo social
12. Medio ambiente
13. Agricultura y medio rural
14. ***Desarrollo económico  (seleccionado)***
15. ***Salud  (seleccionado)***
16. ***Sector privado  (seleccionado)***
17. ***Sector público (seleccionado)***
18. ***Sector financiero (seleccionado)***
19. ***Ciencia y tecnología (seleccionado)***
20. ***Deuda externa (seleccionado)***
21. ***Metadatos de paises (seleccionado)***
22. ***Metadatos de indicadores (seleccionado)***

Los conjuntos de datos marcados como ***seleccionado*** serán incluidos en este proyecto.  

El presente proyecto solo es un ejercicio de NumPy y Pandas sobre Python en Notebbok en Google Colab.

***Extracción de datos***

In [4]:
# Librerías
import numpy  as np
import pandas as pd

In [5]:
# Leer conjuntos de datos
df01 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Population Totals')    # Población
df02 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Population Density')   # Densidad de población
df03 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Population Growth')    # Crecimiento de la población
df06 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Education')            # Educación
df14 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Economic Growth')      # Desarrollo económico
df15a = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Health1')             # Salud - hoja 1
df15b = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Health2')             # Salud - hoja 2
df16 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Private Sector')       # Sector privado
df17 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Public Sector')        # Sector público
df18 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Financial Sector')     # Sector financiero
df19 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Science & Technology') # Ciencia y tecnología 
df20 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','External Debt')        # Deuda externa
df21 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Country Metadata')     # Metadatos de paises
df22 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Metadata Indicators')  # Metadatos de indicadores

***Transformación de datos (filtrado del original)***

In [ ]:
# Comprobamos el DataFrame df01
df01.info

<bound method DataFrame.info of      Country Name Country Code     Indicator Name Indicator Code        1960  \
0           Aruba          ABW  Population, total    SP.POP.TOTL     54211.0
1     Afghanistan          AFG  Population, total    SP.POP.TOTL   8996973.0
2          Angola          AGO  Population, total    SP.POP.TOTL   5454933.0
3         Albania          ALB  Population, total    SP.POP.TOTL   1608800.0
4         Andorra          AND  Population, total    SP.POP.TOTL     13411.0
..            ...          ...                ...            ...         ...
259        Kosovo          XKX  Population, total    SP.POP.TOTL    947000.0
260   Yemen, Rep.          YEM  Population, total    SP.POP.TOTL   5315355.0
261  South Africa          ZAF  Population, total    SP.POP.TOTL  17099840.0
262        Zambia          ZMB  Population, total    SP.POP.TOTL   3070776.0
263      Zimbabwe          ZWE  Population, total    SP.POP.TOTL   3776681.0

           1961        1962        1963        1964        1965  ...  \
0       55438.0     56225.0     56695.0     57032.0     57360.0  ...
1     9169410.0   9351441.0   9543205.0   9744781.0   9956320.0  ...
2     5531472.0   5608539.0   5679458.0   5735044.0   5770570.0  ...
3     1659800.0   1711319.0   1762621.0   1814135.0   1864791.0  ...
4       14375.0     15370.0     16412.0     17469.0     18549.0  ...
..          ...         ...         ...         ...         ...  ...
259    966000.0    994000.0   1022000.0   1050000.0   1078000.0  ...
260   5393036.0   5473671.0   5556766.0   5641597.0   5727751.0  ...
261  17524533.0  17965725.0  18423161.0  18896307.0  19384841.0  ...
262   3164329.0   3260650.0   3360104.0   3463213.0   3570464.0  ...
263   3905034.0   4039201.0   4178726.0   4322861.0   4471177.0  ...

           2010        2011        2012        2013        2014        2015  \
0      101669.0    102046.0    102560.0    103159.0    103774.0    104341.0
1    29185507.0  30117413.0  31161376.0  32269589.0  33370794.0  34413603.0
2    23356246.0  24220661.0  25107931.0  26015780.0  26941779.0  27884381.0
3     2913021.0   2905195.0   2900401.0   2895092.0   2889104.0   2880703.0
4       84449.0     83747.0     82427.0     80774.0     79213.0     78011.0
..          ...         ...         ...         ...         ...         ...
259   1775680.0   1791000.0   1807106.0   1818117.0   1812771.0   1788196.0
260  23154855.0  23807588.0  24473178.0  25147109.0  25823485.0  26497889.0
261  51216964.0  52004172.0  52834005.0  53689236.0  54545991.0  55386367.0
262  13605984.0  14023193.0  14465121.0  14926504.0  15399753.0  15879361.0
263  12697723.0  12894316.0  13115131.0  13350356.0  13586681.0  13814629.0

           2016        2017        2018        2019
0      104872.0    105366.0    105845.0    106314.0
1    35383128.0  36296400.0  37172386.0  38041754.0
2    28842484.0  29816748.0  30809762.0  31825295.0
3     2876101.0   2873457.0   2866376.0   2854191.0
4       77297.0     77001.0     77006.0     77142.0
..          ...         ...         ...         ...
259   1777557.0   1791003.0   1797085.0   1794248.0
260  27168210.0  27834821.0  28498687.0  29161922.0
261  56203654.0  57000451.0  57779622.0  58558270.0
262  16363507.0  16853688.0  17351822.0  17861030.0
263  14030390.0  14236745.0  14439018.0  14645468.0

[264 rows x 64 columns]>

In [6]:
# Redefinimos la lectura para capturar solamente las columnas que nos interesa de l DataFrame df01
# Consideramos solo el indicador en el último año considerado
df01 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Population Totals').loc[:, ('Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '2019')]
df01.info

<bound method DataFrame.info of      Country Name Country Code     Indicator Name Indicator Code        2019
0           Aruba          ABW  Population, total    SP.POP.TOTL    106314.0
1     Afghanistan          AFG  Population, total    SP.POP.TOTL  38041754.0
2          Angola          AGO  Population, total    SP.POP.TOTL  31825295.0
3         Albania          ALB  Population, total    SP.POP.TOTL   2854191.0
4         Andorra          AND  Population, total    SP.POP.TOTL     77142.0
..            ...          ...                ...            ...         ...
259        Kosovo          XKX  Population, total    SP.POP.TOTL   1794248.0
260   Yemen, Rep.          YEM  Population, total    SP.POP.TOTL  29161922.0
261  South Africa          ZAF  Population, total    SP.POP.TOTL  58558270.0
262        Zambia          ZMB  Population, total    SP.POP.TOTL  17861030.0
263      Zimbabwe          ZWE  Population, total    SP.POP.TOTL  14645468.0

[264 rows x 5 columns]>

In [7]:
# Comprobamos el DataFrame df02
df02.info

<bound method DataFrame.info of      Country Name Country Code  \
0           Aruba          ABW
1     Afghanistan          AFG
2          Angola          AGO
3         Albania          ALB
4         Andorra          AND
..            ...          ...
259        Kosovo          XKX
260   Yemen, Rep.          YEM
261  South Africa          ZAF
262        Zambia          ZMB
263      Zimbabwe          ZWE

                                        Indicator Name Indicator Code  1960  \
0    Population density (people per sq. km of land ...    EN.POP.DNST   NaN
1    Population density (people per sq. km of land ...    EN.POP.DNST   NaN
2    Population density (people per sq. km of land ...    EN.POP.DNST   NaN
3    Population density (people per sq. km of land ...    EN.POP.DNST   NaN
4    Population density (people per sq. km of land ...    EN.POP.DNST   NaN
..                                                 ...            ...   ...
259  Population density (people per sq. km of land ...    EN.POP.DNST   NaN
260  Population density (people per sq. km of land ...    EN.POP.DNST   NaN
261  Population density (people per sq. km of land ...    EN.POP.DNST   NaN
262  Population density (people per sq. km of land ...    EN.POP.DNST   NaN
263  Population density (people per sq. km of land ...    EN.POP.DNST   NaN

           1961        1962        1963        1964        1965  ...  \
0    307.988889  312.361111  314.972222  316.844444  318.666667  ...
1     14.044987   14.323808   14.617537   14.926295   15.250314  ...
2      4.436891    4.498708    4.555593    4.600180    4.628676  ...
3     60.576642   62.456898   64.329234   66.209307   68.058066  ...
4     30.585106   32.702128   34.919149   37.168085   39.465957  ...
..          ...         ...         ...         ...         ...  ...
259   88.729678   91.301552   93.873427   96.445302   99.017176  ...
260   10.214664   10.367390   10.524776   10.685450   10.848630  ...
261   14.446194   14.809886   15.186970   15.577003   15.979722  ...
262    4.256620    4.386190    4.519975    4.658676    4.802949  ...
263   10.094440   10.441259   10.801928   11.174515   11.557909  ...

           2010        2011        2012        2013        2014        2015  \
0    564.827778  566.922222  569.777778  573.105556  576.522222  579.672222
1     44.704082   46.131503   47.730564   49.428038   51.114778   52.712072
2     18.734456   19.427818   20.139513   20.867715   21.610475   22.366553
3    106.314635  106.029015  105.854051  105.660292  105.441752  105.135146
4    179.678723  178.185106  175.376596  171.859575  168.538298  165.980851
..          ...         ...         ...         ...         ...         ...
259  163.100946  164.508129  165.987508  166.998898  166.507853  164.250574
260   43.856384   45.092691   46.353350   47.629807   48.910895   50.188247
261   42.220251   42.869179   43.553244   44.258246   44.964505   45.657261
262   18.302619   18.863844   19.458321   20.078968   20.715577   21.360741
263   32.823376   33.331565   33.902368   34.510420   35.121316   35.710557

           2016        2017        2018  2019
0    582.622222  585.366667  588.027778   NaN
1     54.197114   55.595993   56.937760   NaN
2     23.135064   23.916538   24.713052   NaN
3    104.967190  104.870693  104.612263   NaN
4    164.461702  163.831915  163.842553   NaN
..          ...         ...         ...   ...
259  163.273354  164.508405         NaN   NaN
260   51.457867   52.720459   53.977853   NaN
261   46.330985   46.987817   47.630120   NaN
262   22.012009   22.671395   23.341479   NaN
263   36.268295   36.801719   37.324591   NaN

[264 rows x 64 columns]>

In [8]:
# Redefinimos la lectura para capturar solamente las columnas que nos interesa de l DataFrame df02
# Consideramos solo el indicador en el último año considerado
# Buscaremos substituir (más adelante) los Nan Con datos de otros datasources
df02 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Population Density').loc[:, ('Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '2019')]
df02.info

<bound method DataFrame.info of      Country Name Country Code  \
0           Aruba          ABW
1     Afghanistan          AFG
2          Angola          AGO
3         Albania          ALB
4         Andorra          AND
..            ...          ...
259        Kosovo          XKX
260   Yemen, Rep.          YEM
261  South Africa          ZAF
262        Zambia          ZMB
263      Zimbabwe          ZWE

                                        Indicator Name Indicator Code  2019
0    Population density (people per sq. km of land ...    EN.POP.DNST   NaN
1    Population density (people per sq. km of land ...    EN.POP.DNST   NaN
2    Population density (people per sq. km of land ...    EN.POP.DNST   NaN
3    Population density (people per sq. km of land ...    EN.POP.DNST   NaN
4    Population density (people per sq. km of land ...    EN.POP.DNST   NaN
..                                                 ...            ...   ...
259  Population density (people per sq. km of land ...    EN.POP.DNST   NaN
260  Population density (people per sq. km of land ...    EN.POP.DNST   NaN
261  Population density (people per sq. km of land ...    EN.POP.DNST   NaN
262  Population density (people per sq. km of land ...    EN.POP.DNST   NaN
263  Population density (people per sq. km of land ...    EN.POP.DNST   NaN

[264 rows x 5 columns]>

In [9]:
# Comprobamos el DataFrame df03
df03.info

<bound method DataFrame.info of      Country Name Country Code                Indicator Name Indicator Code  \
0           Aruba          ABW  Population growth (annual %)    SP.POP.GROW
1     Afghanistan          AFG  Population growth (annual %)    SP.POP.GROW
2          Angola          AGO  Population growth (annual %)    SP.POP.GROW
3         Albania          ALB  Population growth (annual %)    SP.POP.GROW
4         Andorra          AND  Population growth (annual %)    SP.POP.GROW
..            ...          ...                           ...            ...
259        Kosovo          XKX  Population growth (annual %)    SP.POP.GROW
260   Yemen, Rep.          YEM  Population growth (annual %)    SP.POP.GROW
261  South Africa          ZAF  Population growth (annual %)    SP.POP.GROW
262        Zambia          ZMB  Population growth (annual %)    SP.POP.GROW
263      Zimbabwe          ZWE  Population growth (annual %)    SP.POP.GROW

     1960      1961      1962      1963      1964      1965  ...      2010  \
0     NaN  2.238144  1.409622  0.832453  0.592649  0.573468  ...  0.210709
1     NaN  1.898476  1.965751  2.029893  2.090248  2.147567  ...  2.746576
2     NaN  1.393363  1.383629  1.256555  0.973962  0.617544  ...  3.671462
3     NaN  3.120855  3.056731  2.953749  2.880686  2.754021  ... -0.496462
4     NaN  6.941532  6.692697  6.559522  6.241511  5.998800  ... -0.016577
..    ...       ...       ...       ...       ...       ...  ...       ...
259   NaN  1.986474  2.857337  2.777956  2.702867  2.631731  ...  0.803249
260   NaN  1.450869  1.484101  1.506678  1.515090  1.515578  ...  2.795788
261   NaN  2.453268  2.486399  2.514285  2.535788  2.552486  ...  1.455280
262   NaN  3.001073  2.998554  3.004536  3.022485  3.049879  ...  2.914663
263   NaN  3.342091  3.378041  3.395952  3.391104  3.373423  ...  1.353893

         2011      2012      2013      2014      2015      2016      2017  \
0    0.370125  0.502430  0.582349  0.594397  0.544892  0.507618  0.469944
1    3.143126  3.407587  3.494589  3.355582  3.077084  2.778317  2.548347
2    3.634159  3.597774  3.551950  3.497493  3.438851  3.378273  3.322081
3   -0.269017 -0.165151 -0.183211 -0.207047 -0.291206 -0.159880 -0.091972
4   -0.834745 -1.588730 -2.025792 -1.951470 -1.529058 -0.919470 -0.383674
..        ...       ...       ...       ...       ...       ...       ...
259  0.859067  0.895255  0.607468 -0.294474 -1.364932 -0.596734  0.753585
260  2.779988  2.757339  2.716520  2.654141  2.578072  2.498247  2.424025
261  1.525314  1.583107  1.605752  1.583168  1.528926  1.464829  1.407741
262  3.020291  3.102770  3.139812  3.121305  3.066875  3.003346  2.951583
263  1.536391  1.698001  1.777645  1.754692  1.663813  1.549759  1.460061

         2018      2019
0    0.453576  0.442122
1    2.384761  2.311817
2    3.276134  3.242983
3   -0.246732 -0.426007
4    0.006493  0.176454
..        ...       ...
259  0.339011 -0.157992
260  2.357023  2.300580
261  1.357697  1.338617
262  2.912801  2.892373
263  1.410783  1.419681

[264 rows x 64 columns]>

In [10]:
# Redefinimos la lectura para capturar solamente las columnas que nos interesa de l DataFrame df03
# Consideramos solo el indicador en el último año considerado
df03 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Population Growth').loc[:, ('Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '2019')]
df03.info

<bound method DataFrame.info of      Country Name Country Code                Indicator Name Indicator Code  \
0           Aruba          ABW  Population growth (annual %)    SP.POP.GROW
1     Afghanistan          AFG  Population growth (annual %)    SP.POP.GROW
2          Angola          AGO  Population growth (annual %)    SP.POP.GROW
3         Albania          ALB  Population growth (annual %)    SP.POP.GROW
4         Andorra          AND  Population growth (annual %)    SP.POP.GROW
..            ...          ...                           ...            ...
259        Kosovo          XKX  Population growth (annual %)    SP.POP.GROW
260   Yemen, Rep.          YEM  Population growth (annual %)    SP.POP.GROW
261  South Africa          ZAF  Population growth (annual %)    SP.POP.GROW
262        Zambia          ZMB  Population growth (annual %)    SP.POP.GROW
263      Zimbabwe          ZWE  Population growth (annual %)    SP.POP.GROW

         2019
0    0.442122
1    2.311817
2    3.242983
3   -0.426007
4    0.176454
..        ...
259 -0.157992
260  2.300580
261  1.338617
262  2.892373
263  1.419681

[264 rows x 5 columns]>

In [11]:
# Comprobamos el DataFrame df06
df06.info

<bound method DataFrame.info of       Country Name Country Code  \
0            Aruba          ABW
1            Aruba          ABW
2            Aruba          ABW
3            Aruba          ABW
4            Aruba          ABW
...            ...          ...
42763     Zimbabwe          ZWE
42764     Zimbabwe          ZWE
42765     Zimbabwe          ZWE
42766     Zimbabwe          ZWE
42767     Zimbabwe          ZWE

                                          Indicator Name  \
0          Population ages 15-64 (% of total population)
1           Population ages 0-14 (% of total population)
2      Unemployment, total (% of total labor force) (...
3      Unemployment, male (% of male labor force) (mo...
4      Unemployment, female (% of female labor force)...
...                                                  ...
42763  Literacy rate, adult female (% of females ages...
42764  Literacy rate, youth total (% of people ages 1...
42765  Literacy rate, youth male (% of males ages 15-24)
42766  Literacy rate, youth (ages 15-24), gender pari...
42767  Literacy rate, youth female (% of females ages...

             Indicator Code       1960       1961       1962       1963  \
0         SP.POP.1564.TO.ZS  53.669919  54.056784  54.383281  54.710292
1         SP.POP.0014.TO.ZS  43.847190  43.358346  42.925745  42.488756
2            SL.UEM.TOTL.ZS        NaN        NaN        NaN        NaN
3         SL.UEM.TOTL.MA.ZS        NaN        NaN        NaN        NaN
4         SL.UEM.TOTL.FE.ZS        NaN        NaN        NaN        NaN
...                     ...        ...        ...        ...        ...
42763     SE.ADT.LITR.FE.ZS        NaN        NaN        NaN        NaN
42764     SE.ADT.1524.LT.ZS        NaN        NaN        NaN        NaN
42765  SE.ADT.1524.LT.MA.ZS        NaN        NaN        NaN        NaN
42766  SE.ADT.1524.LT.FM.ZS        NaN        NaN        NaN        NaN
42767  SE.ADT.1524.LT.FE.ZS        NaN        NaN        NaN        NaN

            1964       1965  ...       2011       2012       2013       2014  \
0      55.119933  55.631102  ...  68.885601  68.986934  69.108851  69.181105
1      41.950133  41.290098  ...  20.530937  20.092629  19.593055  19.111724
2            NaN        NaN  ...        NaN        NaN        NaN        NaN
3            NaN        NaN  ...        NaN        NaN        NaN        NaN
4            NaN        NaN  ...        NaN        NaN        NaN        NaN
...          ...        ...  ...        ...        ...        ...        ...
42763        NaN        NaN  ...  80.065659        NaN        NaN  88.283829
42764        NaN        NaN  ...  90.930702        NaN        NaN  90.428123
42765        NaN        NaN  ...  89.590584        NaN        NaN  87.591858
42766        NaN        NaN  ...   1.027510        NaN        NaN   1.060060
42767        NaN        NaN  ...  92.124557        NaN        NaN  93.188347

            2015       2016       2017       2018       2019  2020
0      69.159774  69.137615  68.946339  68.646606  68.321199   NaN
1      18.703098  18.257495  17.980183  17.802447  17.620445   NaN
2            NaN        NaN        NaN        NaN        NaN   NaN
3            NaN        NaN        NaN        NaN        NaN   NaN
4            NaN        NaN        NaN        NaN        NaN   NaN
...          ...        ...        ...        ...        ...   ...
42763        NaN        NaN        NaN        NaN        NaN   NaN
42764        NaN        NaN        NaN        NaN        NaN   NaN
42765        NaN        NaN        NaN        NaN        NaN   NaN
42766        NaN        NaN        NaN        NaN        NaN   NaN
42767        NaN        NaN        NaN        NaN        NaN   NaN

[42768 rows x 65 columns]>

In [12]:
# Redefinimos la lectura para capturar solamente las columnas que nos interesa de l DataFrame df06
# Consideramos solo el indicador en los últimos dos años considerados
df06 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Education').loc[:, ('Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '2019', '2020')]
df06.info

<bound method DataFrame.info of       Country Name Country Code  \
0            Aruba          ABW
1            Aruba          ABW
2            Aruba          ABW
3            Aruba          ABW
4            Aruba          ABW
...            ...          ...
42763     Zimbabwe          ZWE
42764     Zimbabwe          ZWE
42765     Zimbabwe          ZWE
42766     Zimbabwe          ZWE
42767     Zimbabwe          ZWE

                                          Indicator Name  \
0          Population ages 15-64 (% of total population)
1           Population ages 0-14 (% of total population)
2      Unemployment, total (% of total labor force) (...
3      Unemployment, male (% of male labor force) (mo...
4      Unemployment, female (% of female labor force)...
...                                                  ...
42763  Literacy rate, adult female (% of females ages...
42764  Literacy rate, youth total (% of people ages 1...
42765  Literacy rate, youth male (% of males ages 15-24)
42766  Literacy rate, youth (ages 15-24), gender pari...
42767  Literacy rate, youth female (% of females ages...

             Indicator Code       2019  2020
0         SP.POP.1564.TO.ZS  68.321199   NaN
1         SP.POP.0014.TO.ZS  17.620445   NaN
2            SL.UEM.TOTL.ZS        NaN   NaN
3         SL.UEM.TOTL.MA.ZS        NaN   NaN
4         SL.UEM.TOTL.FE.ZS        NaN   NaN
...                     ...        ...   ...
42763     SE.ADT.LITR.FE.ZS        NaN   NaN
42764     SE.ADT.1524.LT.ZS        NaN   NaN
42765  SE.ADT.1524.LT.MA.ZS        NaN   NaN
42766  SE.ADT.1524.LT.FM.ZS        NaN   NaN
42767  SE.ADT.1524.LT.FE.ZS        NaN   NaN

[42768 rows x 6 columns]>

In [13]:
# Comprobamos el DataFrame df14
df14.info

<bound method DataFrame.info of       Country Name Country Code  \
0            Aruba          ABW
1            Aruba          ABW
2            Aruba          ABW
3            Aruba          ABW
4            Aruba          ABW
...            ...          ...
64675     Zimbabwe          ZWE
64676     Zimbabwe          ZWE
64677     Zimbabwe          ZWE
64678     Zimbabwe          ZWE
64679     Zimbabwe          ZWE

                                          Indicator Name     Indicator Code  \
0      PPP conversion factor, private consumption (LC...     PA.NUS.PRVT.PP
1      Price level ratio of PPP conversion factor (GD...     PA.NUS.PPPC.RF
2      PPP conversion factor, GDP (LCU per internatio...         PA.NUS.PPP
3        DEC alternative conversion factor (LCU per US$)        PA.NUS.ATLS
4               Terms of trade adjustment (constant LCU)     NY.TTF.GNFS.KN
...                                                  ...                ...
64675  Insurance and financial services (% of service...     BM.GSR.INSF.ZS
64676   Imports of goods and services (BoP, current US$)     BM.GSR.GNFS.CD
64677         Primary income payments (BoP, current US$)     BM.GSR.FCTY.CD
64678  Communications, computer, etc. (% of service i...     BM.GSR.CMCP.ZS
64679                       Trade in services (% of GDP)  BG.GSR.NFSV.GD.ZS

       1960  1961  1962  1963  1964  1965  ...          2011          2012  \
0       NaN   NaN   NaN   NaN   NaN   NaN  ...  1.637763e+00  1.543367e+00
1       NaN   NaN   NaN   NaN   NaN   NaN  ...  7.278998e-01  7.362019e-01
2       NaN   NaN   NaN   NaN   NaN   NaN  ...  1.302941e+00  1.317801e+00
3       NaN   NaN   NaN   NaN   NaN   NaN  ...  1.790000e+00  1.790000e+00
4       NaN   NaN   NaN   NaN   NaN   NaN  ...           NaN           NaN
...     ...   ...   ...   ...   ...   ...  ...           ...           ...
64675   NaN   NaN   NaN   NaN   NaN   NaN  ...           NaN           NaN
64676   NaN   NaN   NaN   NaN   NaN   NaN  ...  9.272501e+09  8.386153e+09
64677   NaN   NaN   NaN   NaN   NaN   NaN  ...  2.555802e+08  2.972022e+08
64678   NaN   NaN   NaN   NaN   NaN   NaN  ...  3.116783e+01  3.151200e+01
64679   NaN   NaN   NaN   NaN   NaN   NaN  ...  1.532937e+01  1.236697e+01

               2013          2014          2015          2016          2017  \
0      1.513201e+00  1.509406e+00  1.527644e+00  1.496794e+00  1.480481e+00
1      7.179559e-01  7.311971e-01  7.610715e-01  7.570082e-01  7.545752e-01
2      1.285141e+00  1.308843e+00  1.362318e+00  1.355045e+00  1.350690e+00
3      1.790000e+00  1.790000e+00  1.790000e+00  1.790000e+00  1.790000e+00
4               NaN           NaN           NaN           NaN           NaN
...             ...           ...           ...           ...           ...
64675           NaN  0.000000e+00  0.000000e+00  0.000000e+00  1.288252e+01
64676  8.601002e+09  8.187004e+09  7.503865e+09  6.426700e+09  6.559418e+09
64677  2.944554e+08  3.443138e+08  3.695732e+08  3.986379e+08  3.915782e+08
64678  3.208911e+01  3.167977e+01  3.894505e+01  4.466696e+01  3.454522e+01
64679  1.178003e+01  1.188213e+01  9.569889e+00  8.080966e+00  6.858633e+00

           2018      2019  2020
0      1.497584  1.533552   NaN
1           NaN       NaN   NaN
2           NaN       NaN   NaN
3      1.790000  1.790000   NaN
4           NaN       NaN   NaN
...         ...       ...   ...
64675       NaN       NaN   NaN
64676       NaN       NaN   NaN
64677       NaN       NaN   NaN
64678       NaN       NaN   NaN
64679       NaN       NaN   NaN

[64680 rows x 65 columns]>

In [14]:
# Redefinimos la lectura para capturar solamente las columnas que nos interesa de l DataFrame df14
# Consideramos solo el indicador en los últimos dos años considerados
df14 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Education').loc[:, ('Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '2019', '2020')]
df14.info

<bound method DataFrame.info of       Country Name Country Code  \
0            Aruba          ABW
1            Aruba          ABW
2            Aruba          ABW
3            Aruba          ABW
4            Aruba          ABW
...            ...          ...
42763     Zimbabwe          ZWE
42764     Zimbabwe          ZWE
42765     Zimbabwe          ZWE
42766     Zimbabwe          ZWE
42767     Zimbabwe          ZWE

                                          Indicator Name  \
0          Population ages 15-64 (% of total population)
1           Population ages 0-14 (% of total population)
2      Unemployment, total (% of total labor force) (...
3      Unemployment, male (% of male labor force) (mo...
4      Unemployment, female (% of female labor force)...
...                                                  ...
42763  Literacy rate, adult female (% of females ages...
42764  Literacy rate, youth total (% of people ages 1...
42765  Literacy rate, youth male (% of males ages 15-24)
42766  Literacy rate, youth (ages 15-24), gender pari...
42767  Literacy rate, youth female (% of females ages...

             Indicator Code       2019  2020
0         SP.POP.1564.TO.ZS  68.321199   NaN
1         SP.POP.0014.TO.ZS  17.620445   NaN
2            SL.UEM.TOTL.ZS        NaN   NaN
3         SL.UEM.TOTL.MA.ZS        NaN   NaN
4         SL.UEM.TOTL.FE.ZS        NaN   NaN
...                     ...        ...   ...
42763     SE.ADT.LITR.FE.ZS        NaN   NaN
42764     SE.ADT.1524.LT.ZS        NaN   NaN
42765  SE.ADT.1524.LT.MA.ZS        NaN   NaN
42766  SE.ADT.1524.LT.FM.ZS        NaN   NaN
42767  SE.ADT.1524.LT.FE.ZS        NaN   NaN

[42768 rows x 6 columns]>

In [15]:
# Comprobamos el DataFrame df15a
df15a.info

<bound method DataFrame.info of       Country Name Country Code  \
0            Aruba          ABW
1            Aruba          ABW
2            Aruba          ABW
3            Aruba          ABW
4            Aruba          ABW
...            ...          ...
65527       Kosovo          XKX
65528       Kosovo          XKX
65529       Kosovo          XKX
65530       Kosovo          XKX
65531       Kosovo          XKX

                                          Indicator Name     Indicator Code  \
0      Unmet need for contraception (% of married wom...        SP.UWT.TFRT
1      Completeness of death registration with cause-...     SP.REG.DTHS.ZS
2                 Completeness of birth registration (%)     SP.REG.BRTH.ZS
3          Completeness of birth registration, urban (%)  SP.REG.BRTH.UR.ZS
4          Completeness of birth registration, rural (%)  SP.REG.BRTH.RU.ZS
...                                                  ...                ...
65527  Unmet need for contraception (% of married wom...        SP.UWT.TFRT
65528  Completeness of death registration with cause-...     SP.REG.DTHS.ZS
65529             Completeness of birth registration (%)     SP.REG.BRTH.ZS
65530      Completeness of birth registration, urban (%)  SP.REG.BRTH.UR.ZS
65531      Completeness of birth registration, rural (%)  SP.REG.BRTH.RU.ZS

       1960  1961  1962  1963  1964  1965  ...  2011  2012  2013  2014  2015  \
0       NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
1       NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
2       NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
3       NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
4       NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...
65527   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
65528   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
65529   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
65530   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
65531   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN

       2016  2017  2018  2019  2020
0       NaN   NaN   NaN   NaN   NaN
1       NaN   NaN   NaN   NaN   NaN
2       NaN   NaN   NaN   NaN   NaN
3       NaN   NaN   NaN   NaN   NaN
4       NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...
65527   NaN   NaN   NaN   NaN   NaN
65528   NaN   NaN   NaN   NaN   NaN
65529   NaN   NaN   NaN   NaN   NaN
65530   NaN   NaN   NaN   NaN   NaN
65531   NaN   NaN   NaN   NaN   NaN

[65532 rows x 65 columns]>

In [16]:
# Redefinimos la lectura para capturar solamente las columnas que nos interesa de l DataFrame df15a
# Consideramos solo el indicador en los últimos dos años considerados
df15a = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Health1').loc[:, ('Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '2019', '2020')]
df15a.info

<bound method DataFrame.info of       Country Name Country Code  \
0            Aruba          ABW
1            Aruba          ABW
2            Aruba          ABW
3            Aruba          ABW
4            Aruba          ABW
...            ...          ...
65527       Kosovo          XKX
65528       Kosovo          XKX
65529       Kosovo          XKX
65530       Kosovo          XKX
65531       Kosovo          XKX

                                          Indicator Name     Indicator Code  \
0      Unmet need for contraception (% of married wom...        SP.UWT.TFRT
1      Completeness of death registration with cause-...     SP.REG.DTHS.ZS
2                 Completeness of birth registration (%)     SP.REG.BRTH.ZS
3          Completeness of birth registration, urban (%)  SP.REG.BRTH.UR.ZS
4          Completeness of birth registration, rural (%)  SP.REG.BRTH.RU.ZS
...                                                  ...                ...
65527  Unmet need for contraception (% of married wom...        SP.UWT.TFRT
65528  Completeness of death registration with cause-...     SP.REG.DTHS.ZS
65529             Completeness of birth registration (%)     SP.REG.BRTH.ZS
65530      Completeness of birth registration, urban (%)  SP.REG.BRTH.UR.ZS
65531      Completeness of birth registration, rural (%)  SP.REG.BRTH.RU.ZS

       2019  2020
0       NaN   NaN
1       NaN   NaN
2       NaN   NaN
3       NaN   NaN
4       NaN   NaN
...     ...   ...
65527   NaN   NaN
65528   NaN   NaN
65529   NaN   NaN
65530   NaN   NaN
65531   NaN   NaN

[65532 rows x 6 columns]>

In [17]:
# Comprobamos el DataFrame df15b
df15b.info

<bound method DataFrame.info of      Country Name Country Code  \
0          Kosovo          XKX
1          Kosovo          XKX
2          Kosovo          XKX
3          Kosovo          XKX
4          Kosovo          XKX
...           ...          ...
1255     Zimbabwe          ZWE
1256     Zimbabwe          ZWE
1257     Zimbabwe          ZWE
1258     Zimbabwe          ZWE
1259     Zimbabwe          ZWE

                                         Indicator Name     Indicator Code  \
0          Completeness of birth registration, male (%)  SP.REG.BRTH.MA.ZS
1        Completeness of birth registration, female (%)  SP.REG.BRTH.FE.ZS
2              Population, male (% of total population)  SP.POP.TOTL.MA.ZS
3                                      Population, male  SP.POP.TOTL.MA.IN
4            Population, female (% of total population)  SP.POP.TOTL.FE.ZS
...                                                 ...                ...
1255  Women who believe a husband is justified in be...     SG.VAW.NEGL.ZS
1256  Women who believe a husband is justified in be...     SG.VAW.GOES.ZS
1257  Women who believe a husband is justified in be...     SG.VAW.BURN.ZS
1258  Women who believe a husband is justified in be...     SG.VAW.ARGU.ZS
1259  Proportion of women subjected to physical and/...     SG.VAW.1549.ZS

      1960  1961  1962  1963  1964  1965  ...  2011  2012  2013  2014  2015  \
0      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
1      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
2      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
3      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
4      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
...    ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...
1255   NaN   NaN   NaN   NaN   NaN   NaN  ...  21.4   NaN   NaN   NaN  21.4
1256   NaN   NaN   NaN   NaN   NaN   NaN  ...  22.3   NaN   NaN   NaN  22.8
1257   NaN   NaN   NaN   NaN   NaN   NaN  ...   7.5   NaN   NaN   NaN   8.1
1258   NaN   NaN   NaN   NaN   NaN   NaN  ...  15.6   NaN   NaN   NaN  16.7
1259   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN  19.9

      2016  2017  2018  2019  2020
0      NaN   NaN   NaN   NaN   NaN
1      NaN   NaN   NaN   NaN   NaN
2      NaN   NaN   NaN   NaN   NaN
3      NaN   NaN   NaN   NaN   NaN
4      NaN   NaN   NaN   NaN   NaN
...    ...   ...   ...   ...   ...
1255   NaN   NaN   NaN   NaN   NaN
1256   NaN   NaN   NaN   NaN   NaN
1257   NaN   NaN   NaN   NaN   NaN
1258   NaN   NaN   NaN   NaN   NaN
1259   NaN   NaN   NaN   NaN   NaN

[1260 rows x 65 columns]>

In [18]:
# Redefinimos la lectura para capturar solamente las columnas que nos interesa de l DataFrame df15b
# Consideramos solo el indicador en los últimos dos años considerados
# df15a y df15b se fusionarán en df15
df15b = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Health2').loc[:, ('Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '2019', '2020')]
df15b.info

<bound method DataFrame.info of      Country Name Country Code  \
0          Kosovo          XKX
1          Kosovo          XKX
2          Kosovo          XKX
3          Kosovo          XKX
4          Kosovo          XKX
...           ...          ...
1255     Zimbabwe          ZWE
1256     Zimbabwe          ZWE
1257     Zimbabwe          ZWE
1258     Zimbabwe          ZWE
1259     Zimbabwe          ZWE

                                         Indicator Name     Indicator Code  \
0          Completeness of birth registration, male (%)  SP.REG.BRTH.MA.ZS
1        Completeness of birth registration, female (%)  SP.REG.BRTH.FE.ZS
2              Population, male (% of total population)  SP.POP.TOTL.MA.ZS
3                                      Population, male  SP.POP.TOTL.MA.IN
4            Population, female (% of total population)  SP.POP.TOTL.FE.ZS
...                                                 ...                ...
1255  Women who believe a husband is justified in be...     SG.VAW.NEGL.ZS
1256  Women who believe a husband is justified in be...     SG.VAW.GOES.ZS
1257  Women who believe a husband is justified in be...     SG.VAW.BURN.ZS
1258  Women who believe a husband is justified in be...     SG.VAW.ARGU.ZS
1259  Proportion of women subjected to physical and/...     SG.VAW.1549.ZS

      2019  2020
0      NaN   NaN
1      NaN   NaN
2      NaN   NaN
3      NaN   NaN
4      NaN   NaN
...    ...   ...
1255   NaN   NaN
1256   NaN   NaN
1257   NaN   NaN
1258   NaN   NaN
1259   NaN   NaN

[1260 rows x 6 columns]>

In [20]:
# Concatenamos df15a y df15b
df15 = pd.concat([df15a,df15b])
df15

,Country Name,Country Code,Indicator Name,Indicator Code,2019,2020
0,Aruba,ABW,Unmet need for contraception (% of married wom...,SP.UWT.TFRT,NaN,NaN
1,Aruba,ABW,Completeness of death registration with cause-...,SP.REG.DTHS.ZS,NaN,NaN
2,Aruba,ABW,Completeness of birth registration (%),SP.REG.BRTH.ZS,NaN,NaN
3,Aruba,ABW,"Completeness of birth registration, urban (%)",SP.REG.BRTH.UR.ZS,NaN,NaN
4,Aruba,ABW,"Completeness of birth registration, rural (%)",SP.REG.BRTH.RU.ZS,NaN,NaN
...,...,...,...,...,...,...
1255,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.NEGL.ZS,NaN,NaN
1256,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.GOES.ZS,NaN,NaN
1257,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.BURN.ZS,NaN,NaN
1258,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.ARGU.ZS,NaN,NaN
1259,Zimbabwe,ZWE,Proportion of women subjected to physical and/...,SG.VAW.1549.ZS,NaN,NaN

In [21]:
# Comprobamos el DataFrame df16
df16.info

<bound method DataFrame.info of       Country Name Country Code  \
0            Aruba          ABW
1            Aruba          ABW
2            Aruba          ABW
3            Aruba          ABW
4            Aruba          ABW
...            ...          ...
43291     Zimbabwe          ZWE
43292     Zimbabwe          ZWE
43293     Zimbabwe          ZWE
43294     Zimbabwe          ZWE
43295     Zimbabwe          ZWE

                                          Indicator Name     Indicator Code  \
0      Travel services (% of commercial service exports)  TX.VAL.TRVL.ZS.WT
1      Transport services (% of commercial service ex...  TX.VAL.TRAN.ZS.WT
2      High-technology exports (% of manufactured exp...  TX.VAL.TECH.MF.ZS
3                  High-technology exports (current US$)     TX.VAL.TECH.CD
4               Commercial service exports (current US$)  TX.VAL.SERV.CD.WT
...                                                  ...                ...
43291  Ease of doing business score (0 = lowest perfo...     IC.BUS.DFRN.XQ
43292       Domestic credit to private sector (% of GDP)  FS.AST.PRVT.GD.ZS
43293  Insurance and financial services (% of service...     BX.GSR.INSF.ZS
43294  Insurance and financial services (% of service...     BM.GSR.INSF.ZS
43295                       Trade in services (% of GDP)  BG.GSR.NFSV.GD.ZS

       1960  1961  1962  1963  1964  1965  ...          2011          2012  \
0       NaN   NaN   NaN   NaN   NaN   NaN  ...  8.124139e+01  8.053648e+01
1       NaN   NaN   NaN   NaN   NaN   NaN  ...  3.919659e+00  3.452480e+00
2       NaN   NaN   NaN   NaN   NaN   NaN  ...  4.790988e+00  1.125918e+01
3       NaN   NaN   NaN   NaN   NaN   NaN  ...  1.269221e+06  3.656986e+06
4       NaN   NaN   NaN   NaN   NaN   NaN  ...  1.663296e+09  1.741117e+09
...     ...   ...   ...   ...   ...   ...  ...           ...           ...
43291   NaN   NaN   NaN   NaN   NaN   NaN  ...           NaN           NaN
43292   NaN   NaN   NaN   NaN   NaN   NaN  ...  1.898324e+01  2.014062e+01
43293   NaN   NaN   NaN   NaN   NaN   NaN  ...           NaN           NaN
43294   NaN   NaN   NaN   NaN   NaN   NaN  ...           NaN           NaN
43295   NaN   NaN   NaN   NaN   NaN   NaN  ...  1.532937e+01  1.236697e+01

               2013          2014          2015          2016          2017  \
0      8.044342e+01  7.954427e+01  7.925388e+01  8.650646e+01  8.637533e+01
1      3.981985e+00  5.603977e+00  5.531637e+00  5.660912e+00  6.077798e+00
2      5.140044e+00  7.322688e+00  4.968986e+00  4.042414e+00  6.540015e+00
3      1.702027e+06  2.236381e+06  1.265878e+06  1.255860e+06  2.011640e+06
4      1.858725e+09  2.018342e+09  2.081725e+09  2.031027e+09  2.147143e+09
...             ...           ...           ...           ...           ...
43291           NaN           NaN  4.780355e+01  4.779435e+01  4.858986e+01
43292  1.873191e+01  1.921037e+01  1.831569e+01  1.709856e+01  1.687511e+01
43293           NaN  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
43294           NaN  0.000000e+00  0.000000e+00  0.000000e+00  1.288252e+01
43295  1.178003e+01  1.188213e+01  9.569889e+00  8.080966e+00  6.858633e+00

               2018          2019  2020
0      8.684691e+01  8.728724e+01   NaN
1      5.941616e+00  5.180361e+00   NaN
2      8.314288e+00  4.353669e+00   NaN
3      2.562959e+06  1.655305e+06   NaN
4      2.336679e+09  2.395338e+09   NaN
...             ...           ...   ...
43291  5.050998e+01  5.446935e+01   NaN
43292  1.669432e+01  5.183152e+01   NaN
43293           NaN           NaN   NaN
43294           NaN           NaN   NaN
43295           NaN           NaN   NaN

[43296 rows x 65 columns]>

In [22]:
# Redefinimos la lectura para capturar solamente las columnas que nos interesa de l DataFrame df16
# Consideramos solo el indicador en los últimos dos años considerados
df16 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Private Sector').loc[:, ('Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '2019', '2020')]
df16.info

<bound method DataFrame.info of       Country Name Country Code  \
0            Aruba          ABW
1            Aruba          ABW
2            Aruba          ABW
3            Aruba          ABW
4            Aruba          ABW
...            ...          ...
43291     Zimbabwe          ZWE
43292     Zimbabwe          ZWE
43293     Zimbabwe          ZWE
43294     Zimbabwe          ZWE
43295     Zimbabwe          ZWE

                                          Indicator Name     Indicator Code  \
0      Travel services (% of commercial service exports)  TX.VAL.TRVL.ZS.WT
1      Transport services (% of commercial service ex...  TX.VAL.TRAN.ZS.WT
2      High-technology exports (% of manufactured exp...  TX.VAL.TECH.MF.ZS
3                  High-technology exports (current US$)     TX.VAL.TECH.CD
4               Commercial service exports (current US$)  TX.VAL.SERV.CD.WT
...                                                  ...                ...
43291  Ease of doing business score (0 = lowest perfo...     IC.BUS.DFRN.XQ
43292       Domestic credit to private sector (% of GDP)  FS.AST.PRVT.GD.ZS
43293  Insurance and financial services (% of service...     BX.GSR.INSF.ZS
43294  Insurance and financial services (% of service...     BM.GSR.INSF.ZS
43295                       Trade in services (% of GDP)  BG.GSR.NFSV.GD.ZS

               2019  2020
0      8.728724e+01   NaN
1      5.180361e+00   NaN
2      4.353669e+00   NaN
3      1.655305e+06   NaN
4      2.395338e+09   NaN
...             ...   ...
43291  5.446935e+01   NaN
43292  5.183152e+01   NaN
43293           NaN   NaN
43294           NaN   NaN
43295           NaN   NaN

[43296 rows x 6 columns]>

In [23]:
# Comprobamos el DataFrame df17
df17.info

<bound method DataFrame.info of       Country Name Country Code  \
0            Aruba          ABW
1            Aruba          ABW
2            Aruba          ABW
3            Aruba          ABW
4            Aruba          ABW
...            ...          ...
23227     Zimbabwe          ZWE
23228     Zimbabwe          ZWE
23229     Zimbabwe          ZWE
23230     Zimbabwe          ZWE
23231     Zimbabwe          ZWE

                                          Indicator Name     Indicator Code  \
0             Intentional homicides (per 100,000 people)     VC.IHR.PSRC.P5
1      Internally displaced persons, total displaced ...        VC.IDP.TOCV
2      Internally displaced persons, new displacement...        VC.IDP.NWDS
3      Internally displaced persons, new displacement...        VC.IDP.NWCV
4               Battle-related deaths (number of people)        VC.BTL.DETH
...                                                  ...                ...
23227  Net incurrence of liabilities, total (current ...     GC.LBL.TOTL.CN
23228          Central government debt, total (% of GDP)  GC.DOD.TOTL.GD.ZS
23229       Central government debt, total (current LCU)     GC.DOD.TOTL.CN
23230     Net acquisition of financial assets (% of GDP)  GC.AST.TOTL.GD.ZS
23231  Net acquisition of financial assets (current LCU)     GC.AST.TOTL.CN

       1960  1961  1962  1963  1964  1965  ...      2011      2012      2013  \
0       NaN   NaN   NaN   NaN   NaN   NaN  ...  1.959824  3.899966  5.815926
1       NaN   NaN   NaN   NaN   NaN   NaN  ...       NaN       NaN       NaN
2       NaN   NaN   NaN   NaN   NaN   NaN  ...       NaN       NaN       NaN
3       NaN   NaN   NaN   NaN   NaN   NaN  ...       NaN       NaN       NaN
4       NaN   NaN   NaN   NaN   NaN   NaN  ...       NaN       NaN       NaN
...     ...   ...   ...   ...   ...   ...  ...       ...       ...       ...
23227   NaN   NaN   NaN   NaN   NaN   NaN  ...       NaN       NaN       NaN
23228   NaN   NaN   NaN   NaN   NaN   NaN  ...       NaN       NaN       NaN
23229   NaN   NaN   NaN   NaN   NaN   NaN  ...       NaN       NaN       NaN
23230   NaN   NaN   NaN   NaN   NaN   NaN  ...       NaN       NaN       NaN
23231   NaN   NaN   NaN   NaN   NaN   NaN  ...       NaN       NaN       NaN

           2014          2015          2016          2017          2018  2019  \
0      1.927228           NaN           NaN           NaN           NaN   NaN
1           NaN           NaN           NaN           NaN           NaN   NaN
2           NaN           NaN           NaN           NaN           NaN   NaN
3           NaN           NaN           NaN           NaN           NaN   NaN
4           NaN           NaN           NaN           NaN           NaN   NaN
...         ...           ...           ...           ...           ...   ...
23227       NaN  1.079351e+09  2.119325e+09  2.819527e+09  2.140403e+09   NaN
23228       NaN           NaN           NaN           NaN           NaN   NaN
23229       NaN           NaN           NaN           NaN           NaN   NaN
23230       NaN  1.310408e+00  1.636492e+00  2.038874e+00 -6.818301e-01   NaN
23231       NaN  2.615983e+08  3.362775e+08  4.493862e+08 -1.657635e+08   NaN

       2020
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
...     ...
23227   NaN
23228   NaN
23229   NaN
23230   NaN
23231   NaN

[23232 rows x 65 columns]>

In [24]:
# Redefinimos la lectura para capturar solamente las columnas que nos interesa de l DataFrame df17
# Consideramos solo el indicador en los últimos dos años considerados
df17 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Public Sector').loc[:, ('Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '2019', '2020')]
df17.info

<bound method DataFrame.info of       Country Name Country Code  \
0            Aruba          ABW
1            Aruba          ABW
2            Aruba          ABW
3            Aruba          ABW
4            Aruba          ABW
...            ...          ...
23227     Zimbabwe          ZWE
23228     Zimbabwe          ZWE
23229     Zimbabwe          ZWE
23230     Zimbabwe          ZWE
23231     Zimbabwe          ZWE

                                          Indicator Name     Indicator Code  \
0             Intentional homicides (per 100,000 people)     VC.IHR.PSRC.P5
1      Internally displaced persons, total displaced ...        VC.IDP.TOCV
2      Internally displaced persons, new displacement...        VC.IDP.NWDS
3      Internally displaced persons, new displacement...        VC.IDP.NWCV
4               Battle-related deaths (number of people)        VC.BTL.DETH
...                                                  ...                ...
23227  Net incurrence of liabilities, total (current ...     GC.LBL.TOTL.CN
23228          Central government debt, total (% of GDP)  GC.DOD.TOTL.GD.ZS
23229       Central government debt, total (current LCU)     GC.DOD.TOTL.CN
23230     Net acquisition of financial assets (% of GDP)  GC.AST.TOTL.GD.ZS
23231  Net acquisition of financial assets (current LCU)     GC.AST.TOTL.CN

       2019  2020
0       NaN   NaN
1       NaN   NaN
2       NaN   NaN
3       NaN   NaN
4       NaN   NaN
...     ...   ...
23227   NaN   NaN
23228   NaN   NaN
23229   NaN   NaN
23230   NaN   NaN
23231   NaN   NaN

[23232 rows x 6 columns]>

In [25]:
# Comprobamos el DataFrame df18
df18.info

<bound method DataFrame.info of       Country Name Country Code  \
0            Aruba          ABW
1            Aruba          ABW
2            Aruba          ABW
3            Aruba          ABW
4            Aruba          ABW
...            ...          ...
16891     Zimbabwe          ZWE
16892     Zimbabwe          ZWE
16893     Zimbabwe          ZWE
16894     Zimbabwe          ZWE
16895     Zimbabwe          ZWE

                                          Indicator Name  \
0          International migrant stock (% of population)
1                     International migrant stock, total
2                                          Net migration
3        Real effective exchange rate index (2010 = 100)
4      Official exchange rate (LCU per US$, period av...
...                                                  ...
16891       Portfolio investment, net (BoP, current US$)
16892  Foreign direct investment, net (BoP, current US$)
16893           Personal remittances, paid (current US$)
16894  Foreign direct investment, net outflows (% of ...
16895  Foreign direct investment, net outflows (BoP, ...

             Indicator Code    1960  1961    1962  1963  1964    1965  ...  \
0            SM.POP.TOTL.ZS     NaN   NaN     NaN   NaN   NaN     NaN  ...
1               SM.POP.TOTL  7893.0   NaN     NaN   NaN   NaN  7677.0  ...
2               SM.POP.NETM     NaN   NaN -4323.0   NaN   NaN     NaN  ...
3               PX.REX.REER     NaN   NaN     NaN   NaN   NaN     NaN  ...
4               PA.NUS.FCRF     NaN   NaN     NaN   NaN   NaN     NaN  ...
...                     ...     ...   ...     ...   ...   ...     ...  ...
16891        BN.KLT.PTXL.CD     NaN   NaN     NaN   NaN   NaN     NaN  ...
16892        BN.KLT.DINV.CD     NaN   NaN     NaN   NaN   NaN     NaN  ...
16893     BM.TRF.PWKR.CD.DT     NaN   NaN     NaN   NaN   NaN     NaN  ...
16894  BM.KLT.DINV.WD.GD.ZS     NaN   NaN     NaN   NaN   NaN     NaN  ...
16895     BM.KLT.DINV.CD.WD     NaN   NaN     NaN   NaN   NaN     NaN  ...

               2011          2012          2013          2014          2015  \
0               NaN           NaN           NaN           NaN  3.476210e+01
1               NaN           NaN           NaN           NaN  3.611400e+04
2               NaN  1.253000e+03           NaN           NaN           NaN
3               NaN           NaN           NaN           NaN           NaN
4      1.790000e+00  1.790000e+00  1.790000e+00  1.790000e+00  1.790000e+00
...             ...           ...           ...           ...           ...
16891 -1.000000e+07 -9.920000e+07 -1.142000e+08 -1.303000e+08 -1.228000e+08
16892 -3.443000e+08 -3.498500e+08 -3.730500e+08 -4.728000e+08 -3.992000e+08
16893  9.445521e+06  9.889461e+06  1.035427e+07  1.084092e+07  1.135044e+07
16894  3.027956e-01  2.863011e-01  1.414277e-01  3.693156e-01  1.102032e-01
16895  4.270000e+07  4.900000e+07  2.700000e+07  7.200000e+07  2.200000e+07

               2016          2017          2018          2019  2020
0               NaN           NaN           NaN           NaN   NaN
1               NaN           NaN           NaN           NaN   NaN
2               NaN  1.004000e+03           NaN           NaN   NaN
3               NaN           NaN           NaN           NaN   NaN
4      1.790000e+00  1.790000e+00  1.790000e+00  1.790000e+00   NaN
...             ...           ...           ...           ...   ...
16891  8.006134e+07  1.008818e+08           NaN           NaN   NaN
16892 -3.430138e+08 -2.471877e+08           NaN           NaN   NaN
16893  1.384487e+07  1.857500e+07           NaN           NaN   NaN
16894  1.401389e-01  1.916067e-01  1.101199e-01  1.554671e-01   NaN
16895  2.879669e+07  4.223184e+07  2.677188e+07  3.333333e+07   NaN

[16896 rows x 65 columns]>

In [26]:
# Redefinimos la lectura para capturar solamente las columnas que nos interesa de l DataFrame df18
# Consideramos solo el indicador en los últimos dos años considerados
df18 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Financial Sector').loc[:, ('Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '2019', '2020')]
df18.info

<bound method DataFrame.info of       Country Name Country Code  \
0            Aruba          ABW
1            Aruba          ABW
2            Aruba          ABW
3            Aruba          ABW
4            Aruba          ABW
...            ...          ...
16891     Zimbabwe          ZWE
16892     Zimbabwe          ZWE
16893     Zimbabwe          ZWE
16894     Zimbabwe          ZWE
16895     Zimbabwe          ZWE

                                          Indicator Name  \
0          International migrant stock (% of population)
1                     International migrant stock, total
2                                          Net migration
3        Real effective exchange rate index (2010 = 100)
4      Official exchange rate (LCU per US$, period av...
...                                                  ...
16891       Portfolio investment, net (BoP, current US$)
16892  Foreign direct investment, net (BoP, current US$)
16893           Personal remittances, paid (current US$)
16894  Foreign direct investment, net outflows (% of ...
16895  Foreign direct investment, net outflows (BoP, ...

             Indicator Code          2019  2020
0            SM.POP.TOTL.ZS           NaN   NaN
1               SM.POP.TOTL           NaN   NaN
2               SM.POP.NETM           NaN   NaN
3               PX.REX.REER           NaN   NaN
4               PA.NUS.FCRF  1.790000e+00   NaN
...                     ...           ...   ...
16891        BN.KLT.PTXL.CD           NaN   NaN
16892        BN.KLT.DINV.CD           NaN   NaN
16893     BM.TRF.PWKR.CD.DT           NaN   NaN
16894  BM.KLT.DINV.WD.GD.ZS  1.554671e-01   NaN
16895     BM.KLT.DINV.CD.WD  3.333333e+07   NaN

[16896 rows x 6 columns]>

In [27]:
# Comprobamos el DataFrame df19
df19.info

<bound method DataFrame.info of      Country Name Country Code  \
0           Aruba          ABW
1           Aruba          ABW
2           Aruba          ABW
3           Aruba          ABW
4           Aruba          ABW
...           ...          ...
3427     Zimbabwe          ZWE
3428     Zimbabwe          ZWE
3429     Zimbabwe          ZWE
3430     Zimbabwe          ZWE
3431     Zimbabwe          ZWE

                                         Indicator Name     Indicator Code  \
0     High-technology exports (% of manufactured exp...  TX.VAL.TECH.MF.ZS
1                 High-technology exports (current US$)     TX.VAL.TECH.CD
2               Technicians in R&D (per million people)  SP.POP.TECH.RD.P6
3               Researchers in R&D (per million people)  SP.POP.SCIE.RD.P6
4                         Trademark applications, total        IP.TMK.TOTL
...                                                 ...                ...
3427                  Patent applications, nonresidents        IP.PAT.NRES
3428          Scientific and technical journal articles     IP.JRN.ARTC.SC
3429    Research and development expenditure (% of GDP)  GB.XPD.RSDV.GD.ZS
3430  Charges for the use of intellectual property, ...     BX.GSR.ROYL.CD
3431  Charges for the use of intellectual property, ...     BM.GSR.ROYL.CD

      1960  1961  1962  1963  1964  1965  ...          2011          2012  \
0      NaN   NaN   NaN   NaN   NaN   NaN  ...  4.790988e+00  1.125918e+01
1      NaN   NaN   NaN   NaN   NaN   NaN  ...  1.269221e+06  3.656986e+06
2      NaN   NaN   NaN   NaN   NaN   NaN  ...           NaN           NaN
3      NaN   NaN   NaN   NaN   NaN   NaN  ...           NaN           NaN
4      NaN   NaN   NaN   NaN   NaN   NaN  ...           NaN           NaN
...    ...   ...   ...   ...   ...   ...  ...           ...           ...
3427   NaN   NaN   NaN   NaN   NaN   NaN  ...           NaN           NaN
3428   NaN   NaN   NaN   NaN   NaN   NaN  ...  1.470700e+02  2.029400e+02
3429   NaN   NaN   NaN   NaN   NaN   NaN  ...           NaN           NaN
3430   NaN   NaN   NaN   NaN   NaN   NaN  ...  1.894514e+06  1.981662e+06
3431   NaN   NaN   NaN   NaN   NaN   NaN  ...  8.847845e+06  9.305787e+06

              2013          2014          2015          2016          2017  \
0     5.140044e+00  7.322688e+00  4.968986e+00  4.042414e+00  6.540015e+00
1     1.702027e+06  2.236381e+06  1.265878e+06  1.255860e+06  2.011640e+06
2              NaN           NaN           NaN           NaN           NaN
3              NaN           NaN           NaN           NaN           NaN
4              NaN           NaN           NaN           NaN           NaN
...            ...           ...           ...           ...           ...
3427           NaN           NaN  1.900000e+01  5.000000e+00           NaN
3428  2.235800e+02  2.730000e+02  2.689800e+02  3.138000e+02  3.404500e+02
3429           NaN           NaN           NaN           NaN           NaN
3430  2.072818e+06  2.168168e+06  2.267903e+06  2.372227e+06  0.000000e+00
3431  1.783015e+07  1.866817e+07  1.954557e+07  1.037293e+07  4.322232e+06

              2018          2019  2020
0     8.314288e+00  4.353669e+00   NaN
1     2.562959e+06  1.655305e+06   NaN
2              NaN           NaN   NaN
3              NaN           NaN   NaN
4              NaN           NaN   NaN
...            ...           ...   ...
3427           NaN           NaN   NaN
3428  3.593300e+02           NaN   NaN
3429           NaN           NaN   NaN
3430           NaN           NaN   NaN
3431           NaN           NaN   NaN

[3432 rows x 65 columns]>

In [28]:
# Redefinimos la lectura para capturar solamente las columnas que nos interesa de l DataFrame df19
# Consideramos solo el indicador en los últimos dos años considerados
df19 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Science & Technology').loc[:, ('Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '2019', '2020')]
df19.info

<bound method DataFrame.info of      Country Name Country Code  \
0           Aruba          ABW
1           Aruba          ABW
2           Aruba          ABW
3           Aruba          ABW
4           Aruba          ABW
...           ...          ...
3427     Zimbabwe          ZWE
3428     Zimbabwe          ZWE
3429     Zimbabwe          ZWE
3430     Zimbabwe          ZWE
3431     Zimbabwe          ZWE

                                         Indicator Name     Indicator Code  \
0     High-technology exports (% of manufactured exp...  TX.VAL.TECH.MF.ZS
1                 High-technology exports (current US$)     TX.VAL.TECH.CD
2               Technicians in R&D (per million people)  SP.POP.TECH.RD.P6
3               Researchers in R&D (per million people)  SP.POP.SCIE.RD.P6
4                         Trademark applications, total        IP.TMK.TOTL
...                                                 ...                ...
3427                  Patent applications, nonresidents        IP.PAT.NRES
3428          Scientific and technical journal articles     IP.JRN.ARTC.SC
3429    Research and development expenditure (% of GDP)  GB.XPD.RSDV.GD.ZS
3430  Charges for the use of intellectual property, ...     BX.GSR.ROYL.CD
3431  Charges for the use of intellectual property, ...     BM.GSR.ROYL.CD

              2019  2020
0     4.353669e+00   NaN
1     1.655305e+06   NaN
2              NaN   NaN
3              NaN   NaN
4              NaN   NaN
...            ...   ...
3427           NaN   NaN
3428           NaN   NaN
3429           NaN   NaN
3430           NaN   NaN
3431           NaN   NaN

[3432 rows x 6 columns]>

In [29]:
# Comprobamos el DataFrame df20
df20.info

<bound method DataFrame.info of       Country Name Country Code  \
0            Aruba          ABW
1            Aruba          ABW
2            Aruba          ABW
3            Aruba          ABW
4            Aruba          ABW
...            ...          ...
16099     Zimbabwe          ZWE
16100     Zimbabwe          ZWE
16101     Zimbabwe          ZWE
16102     Zimbabwe          ZWE
16103     Zimbabwe          ZWE

                                          Indicator Name     Indicator Code  \
0                                      GNI (current US$)     NY.GNP.MKTP.CD
1                    Total reserves in months of imports     FI.RES.TOTL.MO
2              Total reserves (% of total external debt)  FI.RES.TOTL.DT.ZS
3            Total reserves (includes gold, current US$)     FI.RES.TOTL.CD
4      Multilateral debt service (% of public and pub...  DT.TDS.MLAT.PG.ZS
...                                                  ...                ...
16099  Exports of goods, services and primary income ...     BX.GSR.TOTL.CD
16100    Technical cooperation grants (BoP, current US$)  BX.GRT.TECH.CD.WD
16101  Grants, excluding technical cooperation (BoP, ...  BX.GRT.EXTA.CD.WD
16102         Current account balance (BoP, current US$)     BN.CAB.XOKA.CD
16103  Imports of goods, services and primary income ...     BM.GSR.TOTL.CD

       1960     1961  1962     1963       1964       1965  ...          2011  \
0       NaN      NaN   NaN      NaN        NaN        NaN  ...  2.302793e+09
1       NaN      NaN   NaN      NaN        NaN        NaN  ...  1.174720e+00
2       NaN      NaN   NaN      NaN        NaN        NaN  ...           NaN
3       NaN      NaN   NaN      NaN        NaN        NaN  ...  6.897760e+08
4       NaN      NaN   NaN      NaN        NaN        NaN  ...           NaN
...     ...      ...   ...      ...        ...        ...  ...           ...
16099   NaN      NaN   NaN      NaN        NaN        NaN  ...  5.095932e+09
16100   NaN      NaN   NaN      NaN   140000.0   150000.0  ...  8.697000e+07
16101   NaN  10000.0   NaN  70000.0  6560000.0  6030000.0  ...  6.374800e+08
16102   NaN      NaN   NaN      NaN        NaN        NaN  ... -2.431844e+09
16103   NaN      NaN   NaN      NaN        NaN        NaN  ...  9.528082e+09

               2012          2013          2014          2015          2016  \
0      2.418547e+09  2.537095e+09  2.662514e+09  2.794804e+09  2.830726e+09
1      3.053451e+00  3.171215e+00  3.387887e+00  4.244713e+00  5.036316e+00
2               NaN           NaN           NaN           NaN           NaN
3      7.686223e+08  6.531707e+08  6.803510e+08  8.158006e+08  9.225509e+08
4               NaN           NaN           NaN           NaN           NaN
...             ...           ...           ...           ...           ...
16099  4.647509e+09  4.390842e+09  4.246621e+09  4.174925e+09  4.279921e+09
16100  9.285000e+07  6.821000e+07  5.262000e+07  4.036000e+07  5.980000e+07
16101  9.195500e+08  7.772000e+08  7.074700e+08  7.746000e+08  6.933500e+08
16102 -1.835949e+09 -2.525719e+09 -2.405182e+09 -1.678451e+09 -7.179652e+08
16103  8.683356e+09  8.895458e+09  8.531318e+09  7.873438e+09  6.825338e+09

               2017          2018          2019  2020
0      2.885754e+09           NaN           NaN   NaN
1      4.801479e+00  4.618731e+00  4.715359e+00   NaN
2               NaN           NaN           NaN   NaN
3      9.071115e+08  9.802477e+08  9.823000e+08   NaN
4               NaN           NaN           NaN   NaN
...             ...           ...           ...   ...
16099  4.945834e+09           NaN           NaN   NaN
16100  5.249000e+07  5.442000e+07  6.704000e+07   NaN
16101  6.758300e+08  7.390300e+08  9.239100e+08   NaN
16102 -3.078109e+08           NaN           NaN   NaN
16103  6.950997e+09           NaN           NaN   NaN

[16104 rows x 65 columns]>

In [30]:
# Redefinimos la lectura para capturar solamente las columnas que nos interesa de l DataFrame df20
# Consideramos solo el indicador en los últimos dos años considerados
df20 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','External Debt').loc[:, ('Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '2019', '2020')]
df20.info

<bound method DataFrame.info of       Country Name Country Code  \
0            Aruba          ABW
1            Aruba          ABW
2            Aruba          ABW
3            Aruba          ABW
4            Aruba          ABW
...            ...          ...
16099     Zimbabwe          ZWE
16100     Zimbabwe          ZWE
16101     Zimbabwe          ZWE
16102     Zimbabwe          ZWE
16103     Zimbabwe          ZWE

                                          Indicator Name     Indicator Code  \
0                                      GNI (current US$)     NY.GNP.MKTP.CD
1                    Total reserves in months of imports     FI.RES.TOTL.MO
2              Total reserves (% of total external debt)  FI.RES.TOTL.DT.ZS
3            Total reserves (includes gold, current US$)     FI.RES.TOTL.CD
4      Multilateral debt service (% of public and pub...  DT.TDS.MLAT.PG.ZS
...                                                  ...                ...
16099  Exports of goods, services and primary income ...     BX.GSR.TOTL.CD
16100    Technical cooperation grants (BoP, current US$)  BX.GRT.TECH.CD.WD
16101  Grants, excluding technical cooperation (BoP, ...  BX.GRT.EXTA.CD.WD
16102         Current account balance (BoP, current US$)     BN.CAB.XOKA.CD
16103  Imports of goods, services and primary income ...     BM.GSR.TOTL.CD

               2019  2020
0               NaN   NaN
1      4.715359e+00   NaN
2               NaN   NaN
3      9.823000e+08   NaN
4               NaN   NaN
...             ...   ...
16099           NaN   NaN
16100  6.704000e+07   NaN
16101  9.239100e+08   NaN
16102           NaN   NaN
16103           NaN   NaN

[16104 rows x 6 columns]>

In [31]:
# Comprobamos el DataFrame df21. Todas las columnas son necesarias
df21.info

<bound method DataFrame.info of     Country Code                      Region          IncomeGroup  \
0            ABW   Latin America & Caribbean          High income
1            AFG                  South Asia           Low income
2            AGO          Sub-Saharan Africa  Lower middle income
3            ALB       Europe & Central Asia  Upper middle income
4            AND       Europe & Central Asia          High income
..           ...                         ...                  ...
258          XKX       Europe & Central Asia  Upper middle income
259          YEM  Middle East & North Africa           Low income
260          ZAF          Sub-Saharan Africa  Upper middle income
261          ZMB          Sub-Saharan Africa  Lower middle income
262          ZWE          Sub-Saharan Africa  Lower middle income

                                          SpecialNotes     TableName
0                                                  NaN         Aruba
1                                                  NaN   Afghanistan
2                                                  NaN        Angola
3                                                  NaN       Albania
4                                                  NaN       Andorra
..                                                 ...           ...
258                                                NaN        Kosovo
259                                                NaN   Yemen, Rep.
260  Fiscal year end: March 31; reporting period fo...  South Africa
261  National accounts data were rebased to reflect...        Zambia
262                                                NaN      Zimbabwe

[263 rows x 5 columns]>

In [32]:
# Comprobamos el DataFrame df21
df22.info

<bound method DataFrame.info of          INDICATOR_CODE                                     INDICATOR_NAME  \
0           SP.POP.GROW                       Population growth (annual %)
1           SP.POP.TOTL                                  Population, total
2           EN.POP.DNST  Population density (people per sq. km of land ...
3     SP.POP.TOTL.FE.IN                                 Population, female
4     SP.POP.TOTL.MA.IN                                   Population, male
...                 ...                                                ...
1211     DT.DOD.DSTC.CD  External debt stocks, short-term (DOD, current...
1212     DT.DOD.DPPG.CD  External debt stocks, public and publicly guar...
1213     DT.DOD.DPNG.CD  External debt stocks, private nonguaranteed (P...
1214     DT.DOD.DLXF.CD  External debt stocks, long-term (DOD, current ...
1215     DT.DOD.DIMF.CD               Use of IMF credit (DOD, current US$)

                                            SOURCE_NOTE  \
0     Annual population growth rate for year t is th...
1     Total population is based on the de facto defi...
2     Population density is midyear population divid...
3     Female population is based on the de facto def...
4     Male population is based on the de facto defin...
...                                                 ...
1211  Short-term external debt is defined as debt th...
1212  Public and publicly guaranteed debt comprises ...
1213  Private nonguaranteed external debt comprises ...
1214  Long-term debt is debt that has an original or...
1215  Use of IMF Credit: Data related to the operati...

                                    SOURCE_ORGANIZATION
0     Derived from total population. Population sour...
1     (1) United Nations Population Division. World ...
2     Food and Agriculture Organization and World Ba...
3     World Bank staff estimates using the World Ban...
4     World Bank staff estimates using the World Ban...
...                                                 ...
1211         World Bank, International Debt Statistics.
1212         World Bank, International Debt Statistics.
1213         World Bank, International Debt Statistics.
1214         World Bank, International Debt Statistics.
1215         World Bank, International Debt Statistics.

[1216 rows x 4 columns]>

In [33]:
# Redefinimos la lectura para capturar solamente las columnas que nos interesa de l DataFrame df22
# Consideramos solo el indicador y el descriptivo
df22 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Metadata Indicators').loc[:, ('INDICATOR_CODE', 'INDICATOR_NAME')]
df22.info

<bound method DataFrame.info of          INDICATOR_CODE                                     INDICATOR_NAME
0           SP.POP.GROW                       Population growth (annual %)
1           SP.POP.TOTL                                  Population, total
2           EN.POP.DNST  Population density (people per sq. km of land ...
3     SP.POP.TOTL.FE.IN                                 Population, female
4     SP.POP.TOTL.MA.IN                                   Population, male
...                 ...                                                ...
1211     DT.DOD.DSTC.CD  External debt stocks, short-term (DOD, current...
1212     DT.DOD.DPPG.CD  External debt stocks, public and publicly guar...
1213     DT.DOD.DPNG.CD  External debt stocks, private nonguaranteed (P...
1214     DT.DOD.DLXF.CD  External debt stocks, long-term (DOD, current ...
1215     DT.DOD.DIMF.CD               Use of IMF credit (DOD, current US$)

[1216 rows x 2 columns]>

***Transformación de datos (fusión de DataFrames)***

In [ ]:
# Debemos fusionar los df15a y df15b en uno solo (df15) de Salud