# ETL de datos de importación de productos

## Instalación de librerías base

In [1]:
import pandas as pd
from sqlalchemy import create_engine

## Extraction

In [4]:
engine = create_engine('postgresql+psycopg2://postgres:ressilient01@localhost/postgres')
'''
    Argumentos de la conexión a la BD
        - Motor BD:     postgresql+psycopg2
        - Usuario BD:   postgres
        - Constraseña:  ressilient01
        - Host:         localhost
        - Nombre BD:    postgres
'''
df_trades = pd.read_sql("select * from trades", engine)

In [5]:
# Comprobación del DataFrame
df_trades.info

<bound method DataFrame.info of         country_code  year  comm_code       flow  trade_usd   kg  quantity  \
0                SYC  1998     890200     Import  1431426.0  0.0   23000.0
1                SYC  1998     890310     Import    31406.0  0.0    2545.0
2                SYC  1998     890310     Export      950.0  0.0     300.0
3                SYC  1998     890310  Re-Export      950.0  0.0     300.0
4                SYC  1998     890391     Import    18251.0  0.0     450.0
...              ...   ...        ...        ...        ...  ...       ...
6216348          SYC  1999     890590     Import     3399.0  0.0     283.0
6216349          SYC  1999     890600     Import      816.0  0.0     199.0
6216350          SYC  1999     890710     Import    31387.0  0.0    1325.0
6216351          SYC  1999     890790     Import     8749.0  0.0    1566.0
6216352          SYC  1998     890110     Import  1162965.0  0.0   59920.0

           quantity_name
0        Number of items
1        Number of items
2        Number of items
3        Number of items
4        Number of items
...                  ...
6216348  Number of items
6216349  Number of items
6216350  Number of items
6216351  Number of items
6216352  Number of items

[6216353 rows x 8 columns]>

In [6]:
df_countries = pd.read_json('src/country_data.json')

In [7]:
# Comprobación del df de paises
df_countries.info

<bound method DataFrame.info of                                   country              images_file  \
0                             Afghanistan  Flag_of_Afghanistan.svg
1                                 Albania      Flag_of_Albania.svg
2                                 Algeria      Flag_of_Algeria.svg
3                                 Andorra      Flag_of_Andorra.svg
4                                  Angola       Flag_of_Angola.svg
..                                    ...                      ...
268  United States Minor Outlying Islands                     None
269              Virgin Islands (British)                     None
270                 Virgin Islands (U.S.)                     None
271                     Wallis and Futuna                     None
272                        Western Sahara                     None

                                             image_url alpha-2 alpha-3  \
0    https://upload.wikimedia.org/wikipedia/commons...      AF     AFG
1    https://upload.wikimedia.org/wikipedia/commons...      AL     ALB
2    https://upload.wikimedia.org/wikipedia/commons...      DZ     DZA
3    https://upload.wikimedia.org/wikipedia/commons...      AD     AND
4    https://upload.wikimedia.org/wikipedia/commons...      AO     AGO
..                                                 ...     ...     ...
268                                               None      UM     UMI
269                                               None      VG     VGB
270                                               None      VI     VIR
271                                               None      WF     WLF
272                                               None      EH     ESH

     country-code     iso_3166-2    region                       sub-region  \
0             4.0  ISO 3166-2:AF      Asia                    Southern Asia
1             8.0  ISO 3166-2:AL    Europe                  Southern Europe
2            12.0  ISO 3166-2:DZ    Africa                  Northern Africa
3            20.0  ISO 3166-2:AD    Europe                  Southern Europe
4            24.0  ISO 3166-2:AO    Africa               Sub-Saharan Africa
..            ...            ...       ...                              ...
268         581.0  ISO 3166-2:UM   Oceania                       Micronesia
269          92.0  ISO 3166-2:VG  Americas  Latin America and the Caribbean
270         850.0  ISO 3166-2:VI  Americas  Latin America and the Caribbean
271         876.0  ISO 3166-2:WF   Oceania                        Polynesia
272         732.0  ISO 3166-2:EH    Africa                  Northern Africa

    intermediate-region  region-code  sub-region-code  \
0                  None        142.0             34.0
1                  None        150.0             39.0
2                  None          2.0             15.0
3                  None        150.0             39.0
4         Middle Africa          2.0            202.0
..                  ...          ...              ...
268                None          9.0             57.0
269           Caribbean         19.0            419.0
270           Caribbean         19.0            419.0
271                None          9.0             61.0
272                None          2.0             15.0

     intermediate-region-code
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                        17.0
..                        ...
268                       NaN
269                      29.0
270                      29.0
271                       NaN
272                       NaN

[273 rows x 13 columns]>

In [8]:
df_codes = pd.read_csv('src/hs_codes.csv')

In [9]:
# Comprobación del df de categorías de productos
df_codes.info

<bound method DataFrame.info of         Order  Level          Code        Parent Code_comm Parent.1  \
0     1654555      1             0           NaN       NaN      NaN
1     1654556      1   10011000090           NaN         I      NaN
2     1654557      2   10021000090  1.001100e+10         1        I
3     1654558      3   10100000080  1.002100e+10      1.01        1
4     1654559      4   10121000010  1.010000e+10       NaN     1.01
...       ...    ...           ...           ...       ...      ...
7432  1661987      3  970200000080  9.700210e+11      9702       97
7433  1661988      3  970300000080  9.700210e+11      9703       97
7434  1661989      3  970400000080  9.700210e+11      9704       97
7435  1661990      3  970500000080  9.700210e+11      9705       97
7436  1661991      3  970600000080  9.700210e+11      9706       97

                                    Description_complex  \
0     This classification has been uploaded in RAMON...
1             SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS
2                              CHAPTER 1 - LIVE ANIMALS
3                 Live horses, asses, mules and hinnies
4                                              - Horses
...                                                 ...
7432        Original engravings, prints and lithographs
7433  Original sculptures and statuary, in any material
7434  Postage or revenue stamps, stamp-postmarks, fi...
7435  Collections and collectors' pieces of zoologic...
7436             Antiques of an age exceeding 100 years

                                            Description
0     This classification has been uploaded in RAMON...
1                         LIVE ANIMALS; ANIMAL PRODUCTS
2                                          LIVE ANIMALS
3                 Live horses, asses, mules and hinnies
4                                                   NaN
...                                                 ...
7432        Original engravings, prints and lithographs
7433  Original sculptures and statuary, in any material
7434  Postage or revenue stamps, stamp-postmarks, fi...
7435  Collections and collector's pieces of zoologic...
7436                        Antiques of > 100 years old

[7437 rows x 8 columns]>

In [7]:
df_parents = df_codes[df_codes['Level']==2].copy()

In [8]:
# Comprobación del df de padres de categorías de productos
df_parents.info

<bound method DataFrame.info of         Order  Level          Code        Parent Code_comm Parent.1  \
2     1654557      2   10021000090  1.001100e+10         1        I
52    1654607      2   20021000090  1.001100e+10         2        I
140   1654695      2   30021000090  1.001100e+10         3        I
416   1654971      2   40021000090  1.001100e+10         4        I
463   1655018      2   50021000090  1.001100e+10         5        I
...       ...    ...           ...           ...       ...      ...
7238  1661793      2  930021000090  9.300110e+11        93      XIX
7264  1661819      2  940021000090  9.400110e+11        94       XX
7319  1661874      2  950021000090  9.400110e+11        95       XX
7362  1661917      2  960021000090  9.400110e+11        96       XX
7428  1661983      2  970021000090  9.700110e+11        97      XXI

                                    Description_complex  \
2                              CHAPTER 1 - LIVE ANIMALS
52               CHAPTER 2 - MEAT AND EDIBLE MEAT OFFAL
140   CHAPTER 3 - FISH AND CRUSTACEANS, MOLLUSCS AND...
416   CHAPTER 4 - DAIRY PRODUCE; BIRDS' EGGS; NATURA...
463   CHAPTER 5 - PRODUCTS OF ANIMAL ORIGIN, NOT ELS...
...                                                 ...
7238  CHAPTER 93 - ARMS AND AMMUNITION; PARTS AND AC...
7264  CHAPTER 94 - FURNITURE; BEDDING, MATTRESSES, M...
7319  CHAPTER 95 - TOYS, GAMES AND SPORTS REQUISITES...
7362   CHAPTER 96 - MISCELLANEOUS MANUFACTURED ARTICLES
7428  CHAPTER 97 - WORKS OF ART, COLLECTORS' PIECES ...

                                            Description
2                                          LIVE ANIMALS
52                           MEAT AND EDIBLE MEAT OFFAL
140   FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...
416   DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...
463   PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI...
...                                                 ...
7238  ARMS AND AMMUNITION; PARTS AND ACCESSORIES THE...
7264  FURNITURE; BEDDING, MATTRESSES, MATTRESS SUPPO...
7319  TOYS, GAMES AND SPORTS REQUISITES; PARTS AND A...
7362                MISCELLANEOUS MANUFACTURED ARTICLES
7428      WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES

[96 rows x 8 columns]>

## Transform

#### Clean codes

In [ ]:
df_codes = df_codes[df_codes['Code_comm'].notnull()]

In [ ]:
def clean_code(text):
    text = str(text)
    parent_code = None
    if len(text) == 11:
        code = text[:5]
        parent_code = text[:1]
    else:
        code = text[:6]
        parent_code = text[:2]
    try:
        parent = df_parents[df_parents['Code_comm']==parent_code]['Description'].values[0]
    except:
        parent = None
    return (code,parent)

In [ ]:
df_codes[['clean_code','parent_description']] = df_codes.apply(lambda x : clean_code(x['Code']),axis=1, result_type='expand')

In [ ]:
df_codes = df_codes[df_codes['clean_code'].notnull()][['clean_code','Description','parent_description']]

In [ ]:
df_codes['id_code'] = df_codes.index + 1

In [ ]:
df_codes['clean_code'] = df_codes['clean_code'].astype('int64')

### Clean Countries

In [ ]:
df_countries = df_countries[['alpha-3','country','region','sub-region']]

In [ ]:
df_countries = df_countries[df_countries['alpha-3'].notnull()]

In [ ]:
df_countries['id_country'] = df_countries.index + 1

### Merge

In [ ]:
df_trades_clean = df_trades.merge(df_codes[['clean_code','id_code']],how='left', left_on='comm_code',right_on='clean_code')

In [ ]:
df_trades_clean = df_trades_clean.merge(df_countries[['alpha-3','id_country']],how='left', left_on='country_code',right_on='alpha-3')

In [ ]:
df_trades_clean

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name,clean_code,id_code,alpha-3,id_country
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items,890200,6929,SYC,155
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items,890310,6931,SYC,155
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items,890310,6931,SYC,155
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items,890310,6931,SYC,155
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items,890391,6933,SYC,155
...,...,...,...,...,...,...,...,...,...,...,...,...
6216348,SYC,1999,890590,Import,3399.0,0.0,283.0,Number of items,890590,6940,SYC,155
6216349,SYC,1999,890600,Import,816.0,0.0,199.0,Number of items,890600,6941,SYC,155
6216350,SYC,1999,890710,Import,31387.0,0.0,1325.0,Number of items,890710,6945,SYC,155
6216351,SYC,1999,890790,Import,8749.0,0.0,1566.0,Number of items,890790,6946,SYC,155
6216352,SYC,1998,890110,Import,1162965.0,0.0,59920.0,Number of items,890110,6925,SYC,155

### Clean trades

In [ ]:
def create_dimension(data, id_name):
    list_keys = []
    value = 1
    for _ in data:
        list_keys.append(value)
        value = value + 1
    return pd.DataFrame({id_name:list_keys, 'values':data})

In [ ]:
df_quantity =create_dimension(df_trades_clean['quantity_name'].unique(),'id_quantity')
df_flow =create_dimension(df_trades_clean['flow'].unique(),'id_flow')
df_year =create_dimension(df_trades_clean['year'].unique(),'id_year')

In [ ]:
df_trades_clean = df_trades_clean.merge(df_quantity, how='left',left_on='quantity_name', right_on='values')

df_trades_clean = df_trades_clean.merge(df_flow, how='left',left_on='flow', right_on='values')

df_trades_clean = df_trades_clean.merge(df_year, how='left',left_on='year', right_on='values')

In [ ]:
df_trades_clean['id_trades'] = df_trades_clean.index + 1

In [ ]:
df_trades_final = df_trades_clean[['id_trades','trade_usd','kg','quantity','id_code','id_country','id_quantity','id_flow','id_year']].copy()

In [ ]:
df_countries = df_countries[['id_country','alpha-3','country','region','sub-region']]

In [ ]:
df_codes = df_codes[['id_code','clean_code','Description','parent_description']]

## Load

In [ ]:
df_trades_final.to_csv('target/trades.csv',index=False, sep='|')
df_countries.to_csv('target/countries.csv',index=False, sep='|')
df_codes.to_csv('target/codes.csv',index=False, sep='|')
df_quantity.to_csv('target/quantity.csv',index=False, sep='|')
df_flow.to_csv('target/flow.csv',index=False, sep='|')
df_year.to_csv('target/years.csv',index=False, sep='|')

In [ ]:
import os
import boto3
import redshift_connector

client = boto3.client(
    's3',
    aws_access_key_id=os.environ.get('AWS_ACCESS_KEY_ID'),
    aws_secret_access_key=os.environ.get('AWS_SECRET_ACCESS_KEY'),
)

conn = redshift_connector.connect(
    host= os.environ.get('redhsift_host'),
    database=os.environ.get('redshift_database'),
    port=5439,
    user=os.environ.get('redshift_user'),
    password=os.environ.get('redshift_pass')
)
cursor = conn.cursor()

In [ ]:
def load_file(file_name):
    table_name = file_name.split('.')[0]
    client.upload_file(
        Filename="target/{}".format(file_name),
        Bucket="platzi-etl",
        Key="course_etl_target/{}".format(file_name),
    )

    sentence = '''copy etl_test.{} from 's3://platzi-etl/course_etl_target/{}' credentials 'aws_access_key_id={};aws_secret_access_key={}' csv delimiter '|' region 'us-west-2' ignoreheader 1'''.format(
        table_name, file_name, os.environ.get('AWS_ACCESS_KEY_ID'), os.environ.get('AWS_SECRET_ACCESS_KEY')
    )
    try:
        cursor.execute(sentence)
        print('ok tabla '+ table_name)
    except:
        print('error en la tabla '+table_name)

In [ ]:
list_files = os.listdir('target/')
for _ in list_files:
    load_file(_)

In [ ]:
conn.commit()

In [ ]:
conn.close()